.product {
	padding: 105px 0 120px;
	text-align: center;
	&__items {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-gap: 45px 30px
	}
	&__link {
		@extend %roboto-400;
		display: inline-block;
		border: 1px solid $accent;
		padding: 14px 27px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: $title;
		margin-top: 60px;
	}
}

.product-item {
	max-width: 370px;
	text-align: center;
	&.product-item--list {
		min-width: 100%;
		display: flex;
		text-align: left;
		.product-item__img-box {
			height: 250px;
			min-width: 200px;
			margin-bottom: 0;
			img{
				height: 250px;
				width: 200px;	
			}
		}
		.product-item__link-box {
			box-shadow: none;
			width: 115px;
			background-color: transparent;
			top: 50%;
			bottom: auto;
			.product-item__link{ 
				width: 50px;
				height: 50px;
				background-color: #fff;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.product-item__link-line{
				display: none;
			}
		}
		.product-item__box {
			display: flex;
			flex-wrap: wrap;
		}
		.product-item__title {
			order: -1;
			width: 100%;
		}
		.product-item__price {
			order: -1;
			margin-left: -12px;
			padding: 0;
			margin-bottom: 10px;
		}
		.star {
			margin-left: 23px
		}
		.product-item__text {
			margin-bottom: 25px;
		}
		.product-item__btn {
			color: #fff;
			padding: 11px 40px;
			background-color: $title;
			border: none;
			transition: all .3s;
			cursor: pointer;
			&:hover {
				background-color: $accent;
			}
		}
		.product-item__content-box {
			display: block;
		}
		.product-item__wrapper-box {
			padding: 0px 40px;
			border: 1px solid #ececec;
			border-left: none;

		}
	}
	&__content-box {
		display: none;
	}
	&__img-box {
		position: relative;
		height: 370px;
		overflow: hidden;
		margin-bottom: 25px;
	}
	&__link-box {
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;
		background-color: #fff;
		width: 220px;
		height: 50px;
		margin: 0 auto;
		box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
		border-radius: 22px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		transform:translateY(300%);
		transition: all .5s;
	}
	&__link{
		line-height: 1px;
		path{
			transition: all .3s;
			}
	}
	&__link:hover{
		path {
			fill: $accent;
		}
	}
	&__link-line::before,
	&__link-line::after{
		content: '';
		position: absolute;
		width: 1px;
		height: 30px;
		background-color: #ececec;
		top: 10px;
	}
	&__link-line::before{
		left: 70px;
	}
	&__link-line::after{
		right: 70px;
	}
	&__img {
		object-fit: cover;
	}
	&:hover {
		.product-item__link-box{
			transform: translateY(0);
		}
	}
	&__title {
		color: $title;
		@extend %roboto-400;
		font-size: 22px;
		padding: 20px 0;
	}
	&__price {
		display: flex;
		justify-content: center;
	}
	&__price-new {
		padding: 0 12px;
		color: $title;
		@extend %roboto-400;
	}
	&__price-old {
		padding: 0 12px;
		color: #ccccce;
		@extend %quicksand-500;
		text-decoration: line-through;
	}
	&--sale{
		.product-item__img-box::before {
			content: 'sale';
			@extend %btn;
			position: absolute;
			top: 25px;
			left: 25px;
			padding: 6px 7px;
			line-height: 1;
		}
	}
}
.star {
	margin: 0 auto;
}