<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/blog-one.min.css">
	<title>Marcho

	</title>
</head>

<body>
{% include 'app/module/_header/_header.html' %}
	

	<main class="main">
		<section class="blog-page blog-one">
			<div class="container">
				<div class="blog-page__inner">
					<div class="blog-page__content blog-one__content">

						<img src="images/blog/page/1.jpg" alt="#" class="blog-page__img">
						<div class="blog-one__text">
							<ul class="blog-one__info">
								<li class="blog-one__info-item">
									<span class="blog-one__info-link">16 February, 2020</span>
								</li>
								<li class="blog-one__info-item">
									<a href="#" class="blog-one__info-link--comment">3 comments</a>
								</li>
								<li class="blog-one__info-item">
									<a href="#" class="blog-one__info-link--author">By Admin</a>
								</li>
							</ul>
							<h4>In Particular The Global World Of Lorem Ipsum Asap Tempor</h4>
							<p>Lorem ipsum dolor siit amet, consectetur adiscing elit, sed do eiusmod tempor
								incididunt more utmm labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
								gravida. Risus commodo ecenas accumsan lacus vel facilisis. Quis ipsum suspenidisse
								ultrices gravida. Risus comdouma viverra more maecenas accumsan lacus vel facilisis.</p>
							<blockquote>
								Lorem ipsum dolor sit amet, consectetur adipiscing elt, sed does eiusmod tempor
								incididunt ut labore et dolore magna aliqua dilo. Quis ipsum suspendisse ultrices
								gravida.
							</blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								of in utmm labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
								commodo ecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida.
								Risus comdoumar viverra more maecenas accumsan lacus vel facilisis. </p>

							<img class="blog-one__img-left" src="images/blog-one/1.jpg" alt="img">
							<p>Lorem ipsum dolor sit amet, consectur picing elit, sed do eusmod tempor incididunt ut mor
								more labore a doore magna aliqua. Quis into ipsum the suspendisse ultrices grda. Lorem
								in ipsum dolor sit amet, consectetur adipiscings elit, sed does eiusmod tempor
								incididunt mod labore et dolore magna aliqua. Quis ipsum in suspendisse fass a ultrices
								gravida. Loremon ipsum dolor st amaiet, consectetur aipiscinge elit, sed do eiusobimod
								tempor incididunt uts labore et doloroe gravida. ;
							</p>
						</div>
						
						<div class="blog-one__box">
							<div class="blog-one__tags">
								<span class="blog-one__tags-title">
									TAGS:
								</span>
								<a href="#" class="blog-one__tags-link">Fashion,</a>
								<a href="#" class="blog-one__tags-link">Style</a>
							</div>
							<div class="blog-one__author">
								<img src="images/avatar/author_blog.jpg" alt="" class="blog-one__author-img">
								<div class="blog-one__author-box">
									<h5 class="blog-one__author-title">
										JHON DOE
									</h5>
									<div class="blog-one__author-text">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo dajsna for tempor incididunt ut labore et dolore magna aliqua. Quis ipsum more in the a mo spendisse ultrices gravida. Risus commodo.;
									</div>
								</div>
							</div>
						</div>

						<h3 class="comments__title">O2 COMMENTS</h3>
						<div class="comments">
							<img class="comments__img" src="images/avatar/1.jpg" alt="img">
							<div class="comments__content">
								<div class="comments__content-top">
									<div class="comments__content-name">Michle Jhon</div>
									<div class="comments__content-date">2 days ago</div>
								</div>
								<div class="comments__content-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Qus ipsum speissei ultrices
									gravida. Risus commodo viverra maeenas accumsan lacus vel facilisis.
								</div>
								<a href="#" class="comments__content-link">Reply</a>
							</div>
						</div>
						<div class="comments">
							<img class="comments__img" src="images/avatar/2.jpg" alt="img">
							<div class="comments__content">
								<div class="comments__content-top">
									<div class="comments__content-name">Michle Jhon</div>
									<div class="comments__content-date">2 days ago</div>
								</div>
								<div class="comments__content-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Qus ipsum speissei ultrices
									gravida. Risus commodo viverra maeenas accumsan lacus vel facilisis.
								</div>
								<a href="#" class="comments__content-link">Reply</a>
							</div>
						</div>
						<form class="comment-form">
							<p class="comment-form__title">LEAVE A REPLY</p>
							<div class="comment-form__text-box">
								<input class="comment-form__text" type="text" placeholder="Your name">
								<input class="comment-form__text" type="text" placeholder="E-mail address">
							</div>
							<textarea class="comment-form__textarea" placeholder="Your text here"></textarea>
							<button type="submit" class="comment-form__btn">POST COMMENT</button>
						</form>
					</div>
					<div class="blog-page__sidebar">
						<div class="filter-search filter__item">
							<h3 class="filter__title">
								Search
							</h3>
							<form class="filter-search__form">
								<input class="filter-search__input" type="text" placeholder="Search your keyword....">
								<button class="filter-search__btn" type="submit">
									<img src="images/icons/search-white.svg" alt="img">
								</button>
							</form>
						</div>

						<div class="person">
							<img src="images/avatar/seo (1).jpg" alt="img" class="preson__img">
							<div class="person__name">Tom D. Maianay</div>
							<div class="person__pos">CEO & Founder</div>
							<div class="person__text">Lorem ipsum dolor sit amet, consectetum adipiscing eit, sed do
								eiusmod temporary incididunt ut labore et dolore magnaamo aliqua. Qus ipsum suspendisse
								ultrices an gravida. Risus commodo</div>
						</div>

						<div class="latest-post">
							<h5 class="latest-post__title">
								latest-post
							</h5>
							<div class="latest-post__item">
								<a class="latest-post__img-link" href="#"><img class="latest-post__img"
										src="images/blog/aside-1.jpg" alt="img"></a>
								<div class="latest-post__box">
									<a class="latest-post__title-link" href="#">
										<h5 class="latest-post__item-title">
											Lorem ipsum dolor suitabl amet, adiping elit.
										</h5>
									</a>
									<div class="latest-post__date">
										16 Feb, 2019
									</div>
								</div>
							</div>
							<div class="latest-post__item">
								<a class="latest-post__img-link" href="#"><img class="latest-post__img"
										src="images/blog/aside-2.jpg" alt="img"></a>
								<div class="latest-post__box">
									<a class="latest-post__title-link" href="#">
										<h5 class="latest-post__item-title">
											Lorem ipsum dolor suitabl amet, adiping elit.
										</h5>
									</a>
									<div class="latest-post__date">
										16 Feb, 2019
									</div>
								</div>
							</div>
							<div class="latest-post__item">
								<a class="latest-post__img-link" href="#"><img class="latest-post__img"
										src="images/blog/aside-3.jpg" alt="img"></a>
								<div class="latest-post__box">
									<a class="latest-post__title-link" href="#">
										<h5 class="latest-post__item-title">
											Lorem ipsum dolor suitabl amet, adiping elit.
										</h5>
									</a>
									<div class="latest-post__date">
										16 Feb, 2019
									</div>
								</div>
							</div>
							<div class="latest-post__item">
								<a class="latest-post__img-link" href="#"><img class="latest-post__img"
										src="images/blog/aside-4.jpg" alt="img"></a>
								<div class="latest-post__box">
									<a class="latest-post__title-link" href="#">
										<h5 class="latest-post__item-title">
											Lorem ipsum dolor suitabl amet, adiping elit.
										</h5>
									</a>
									<div class="latest-post__date">
										16 Feb, 2019
									</div>
								</div>
							</div>
						</div>

						<div class="filter__item filter-category">
							<h3 class="filter__title">
								CATEGORY
							</h3>
							<form class="filter-category__form">
								<label class="filter-category__label">
									<input class="filter-category__input" type="checkbox">
									<div class="filter-category__checkbox">
										<span>Woman</span>
										<span>92</span>
									</div>
								</label>
								<label class="filter-category__label">
									<input class="filter-category__input" type="checkbox">
									<div class="filter-category__checkbox">
										<span>Man</span>
										<span>30</span>
									</div>
								</label>
								<label class="filter-category__label">
									<input class="filter-category__input" type="checkbox">
									<div class="filter-category__checkbox">
										<span>Sale Products</span>
										<span>92</span>
									</div>
								</label>
								<label class="filter-category__label">
									<input class="filter-category__input" type="checkbox">
									<div class="filter-category__checkbox">
										<span>Fashion</span>
										<span>121</span>
									</div>
								</label>
								<label class="filter-category__label">
									<input class="filter-category__input" type="checkbox">
									<div class="filter-category__checkbox">
										<span>Hot Dresses</span>
										<span>83</span>
									</div>
								</label>
								<label class="filter-category__label">
									<input class="filter-category__input" type="checkbox">
									<div class="filter-category__checkbox">
										<span>Accessories</span>
										<span>43</span>
									</div>
								</label>
							</form>
						</div>
						<div class="filter__item filter-popular">
							<h3 class="filter__title">
								Popular Tags
							</h3>
							<form class="filter-popular__form">
								<label class="filter-popular__label">
									<input type="checkbox" class="filter-popular__input">
									<span class="filter-popular__checkbox">
										Sweetshirt
									</span>
								</label>
								<label class="filter-popular__label">
									<input type="checkbox" class="filter-popular__input">
									<span class="filter-popular__checkbox">
										Man Accessories
									</span>
								</label>
								<label class="filter-popular__label">
									<input type="checkbox" class="filter-popular__input">
									<span class="filter-popular__checkbox">
										Fashion
									</span>
								</label>
								<label class="filter-popular__label">
									<input type="checkbox" class="filter-popular__input">
									<span class="filter-popular__checkbox">
										Polo
									</span>
								</label>
								<label class="filter-popular__label">
									<input type="checkbox" class="filter-popular__input">
									<span class="filter-popular__checkbox">
										T-Shir
									</span>
								</label>
								<label class="filter-popular__label">
									<input type="checkbox" class="filter-popular__input">
									<span class="filter-popular__checkbox">
										Jewellery
									</span>
								</label>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

{% include 'app/module/_footer/_footer.html' %}

	<script src="js/main.min.js"></script>
</body>

</html>